main{
    width: 500px;
    height: 500px;
    background-color: rgb(225, 120, 22);
    margin: auto;
    color: aliceblue;
    font-size: 24px;
}
h1{
    text-transform: uppercase;
    padding: 10px;
    text-align: center;
}
#timespan{
    display: table;
    margin: 0 auto;
   
}
#actions{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}

#actions button{
    color: aliceblue;
    background-color: rgb(225, 120, 22);
    border: 1px solid aliceblue;
    border-radius: 5px;
    height: 75px;
    width: 150px;
    cursor: pointer;
    font-size: 24px;
}

#actions button:hover{
    background-color: rgb(71, 235, 60);
    color: rgb(128, 2, 245);
}

.active{
    background-color: rgb(71, 235, 60) !important;
    color: rgb(128, 2, 245) !important;
}